<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>lion</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- style  -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/assets/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="/assets/images/fevicon.png" type="image/gif"/>
    <!-- Scrollbar Custom  -->
    <link rel="stylesheet" href="/assets/css/jquery.mCustomScrollbar.min.css">

    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/css/iziToast-1.4.0.min.css">
</head>
<!-- body -->

<body class="main-layout">
<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img src="/assets/images/loading.gif" alt="#"/></div>
</div>

<div class="wrapper">

    <!-- end loader -->
    <div class="sidebar">
        <!-- Sidebar  -->
        <nav id="sidebar">

            <div id="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>

            <ul class="list-unstyled components">

                <li class="active">
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="#brand">Brands</a>
                </li>
                <li>
                    <a href="#shoes">Shoes</a>
                </li>
                <li>
                    <a href="#jewellery">Jewellery</a>
                </li>
                <li>
                    <a href="#kids">Kids and Babies</a>
                </li>
            </ul>

        </nav>
    </div>

    <div id="content">
        <!-- header -->
        <header>
            <!-- header inner -->
            <div class="head_top">
                <div class="header">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-3 logo_section">
                                <div class="full">
                                    <div class="center-desk">
                                        <div class="logo">
                                            <a href="index.html"><img src="/assets/images/logo.png" alt="#"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="right_header_info">
                                    <ul>
                                        <li class="menu_iconb">
                                            <a href="#"><img style="margin-right: 15px;" src="/assets/icon/1.png"
                                                             alt="#"/>7213456789</a>
                                        </li>
                                        <li class="menu_iconb">
                                            <a href="#">Log in <img style="margin-right: 15px;" src="/assets/icon/5.png"
                                                                    alt="#"/> </a>
                                        </li>
                                        <li class="menu_iconb">
                                            <a href="#">Signup<img style="margin-left: 15px;" src="/assets/icon/6.png"
                                                                   alt="#"/></a>
                                        </li>
                                        <li class="tytyu">
                                            <a href="#" id="btnShowCart"> <img style="margin-right: 15px;"
                                                                               src="/assets/icon/2.png" alt="#"/></a>
                                        </li>
                                        <li class="menu_iconb">
                                            <a href="#"><img style="margin-right: 15px;" src="/assets/icon/3.png"
                                                             alt="#"/></a>
                                        </li>

                                        <li>
                                            <button type="button" id="sidebarCollapse">
                                                <img src="/assets/images/menu_icon.png" alt="#"/>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end header inner -->

                <!-- end header -->
                <section class="slider_section">
                    <div class="banner_main">
                        <div class="container-fluid padding3">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mapimg">
                                    <div class="text-bg">
                                        <h1>All <br>
                                            In<br>
                                            One <br>
                                            Shop</h1>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                        <a href="#">Buy now</a>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                                    <div id="myCarousel" class="carousel slide banner_Client" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="container">
                                                    <div class="carousel-caption text">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="img_bg">
                                                                    <figure><img src="/assets/images/cap.png"/></figure>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="container">
                                                    <div class="carousel-caption text">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="img_bg">
                                                                    <figure><img src="/assets/images/cap.png"/></figure>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="container">
                                                    <div class="carousel-caption text">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="img_bg">
                                                                    <figure><img src="/assets/images/cap.png"/></figure>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </header>
        <!-- Categories -->
        <div class="Categories">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <h2> Categories</h2>
                            <ul class="categiri">
                                <li class="active"><a href="#">Clothing</a></li>
                                <li><a href="#">Electronics</a></li>
                                <li><a href="#shoes">Shoes</a></li>
                                <li><a href="#">Watches</a></li>
                                <li><a href="#jewellery">Jewellery</a></li>
                                <li><a href="#">Health and Beauty</a></li>
                                <li><a href="#kids">Kids and Babies</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Home and Garden</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- news brand -->
                <div id="brand" class="brand-bg">
                    <h3>New brands</h3>
                    <div class="row" id="panel-product">
                        <!--                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">-->
                        <!--                            <div class="brand-box">-->
                        <!--                                <h5>Sale</h5>-->
                        <!--                                <i><img src="/assets/icon/p1.png"/>-->
                        <!--                                </i>-->
                        <!--                                <h4>Price $<span class="nolmal">100</span></h4>-->

                        <!--                            </div>-->
                        <!--                            <a class="buynow" href="#">Buy now</a>-->
                        <!--                        </div>-->
                        <!--                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">-->
                        <!--                            <div class="brand-box">-->
                        <!--                                <i><img src="/assets/icon/p2.png"/></i>-->
                        <!--                                <h4>Price $<span class="nolmal">100</span></h4>-->
                        <!--                            </div>-->
                        <!--                            <a class="buynow" href="#">Buy now</a>-->
                        <!--                        </div>-->
                        <!--                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">-->
                        <!--                            <div class="brand-box">-->
                        <!--                                <i><img src="/assets/icon/p1.png"/></i>-->
                        <!--                                <h4>Price $<span class="nolmal">100</span></h4>-->
                        <!--                            </div>-->
                        <!--                            <a class="buynow" href="#">Buy now</a>-->
                        <!--                        </div>-->
                        <!--                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">-->
                        <!--                            <div class="brand-box">-->
                        <!--                                <i><img src="/assets/icon/p4.png"/></i>-->
                        <!--                                <h4>Price $<span class="nolmal">100</span></h4>-->
                        <!--                            </div>-->
                        <!--                            <a class="buynow" href="#">Buy now</a>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <a class="seemore" href="#">See more</a>
                <!-- end news brand -->

                <!-- news shoes -->
                <div id="shoes" class="shoes-bg">
                    <h3>New shoes</h3>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                            <div class="shoes-box">
                                <h5>Sale</h5>
                                <i><img src="/assets/icon/s1.png"/>
                                </i>
                                <h4>Price $<span class="nolmal">100</span></h4>

                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                            <div class="shoes-box">
                                <i><img src="/assets/icon/s2.png"/></i>
                                <h4>Price $<span class="nolmal">100</span></h4>
                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <div class="shoes-box">
                                <i><img src="/assets/icon/s3.png"/></i>
                                <h4>Price $<span class="nolmal">100</span></h4>
                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <div class="shoes-box">
                                <i><img src="/assets/icon/s4.png"/></i>
                                <h4>Price $<span class="nolmal">100</span></h4>
                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                    </div>
                </div>
                <a class="seemore" href="#">See more</a>
            </div>

        </div>
    </div>
    <div id="panelCart" class="hide">
        <button id="btnCloseCart">Close</button>

        <div class="cart-items"></div>

        <div class="cart-checkout">
            <button id="btnCheckout" class="btn btn-success">
                Checkout
            </button>
        </div>
        <!--        <div class="card mb-3" style="max-width: 100%;">-->
        <!--            <div class="row g-0">-->
        <!--                <div class="col-md-4">-->
        <!--                    <img src="/assets/icon/s3.png" width="150px" class="img-fluid rounded-start" alt="...">-->
        <!--                </div>-->
        <!--                <div class="col-md-8">-->
        <!--                    <div class="card-body">-->
        <!--                        <h5 class="card-title">Bia Huda Gold</h5>-->
        <!--                        <p class="card-text">-->
        <!--                            <span class="price">15.000</span>-->
        <!--                            <span><button class="btn btn-danger minus">-</button></span>-->
        <!--                            <span><input type="text" class="form-control quantity" value="10"></span>-->
        <!--                            <span><button class="btn btn-success add">+</button></span>-->
        <!--                            <span class="amount">150.000</span>-->
        <!--                        </p>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <div class="card mb-3" style="max-width: 100%;">-->
        <!--            <div class="row g-0">-->
        <!--                <div class="col-md-4">-->
        <!--                    <img src="/assets/icon/s3.png" width="150px" class="img-fluid rounded-start" alt="...">-->
        <!--                </div>-->
        <!--                <div class="col-md-8">-->
        <!--                    <div class="card-body">-->
        <!--                        <h5 class="card-title">Bia Huda Gold</h5>-->
        <!--                        <p class="card-text">-->
        <!--                            <span class="price">15.000</span>-->
        <!--                            <span><button class="btn btn-danger minus">-</button></span>-->
        <!--                            <span><input type="text" class="form-control quantity" value="10"></span>-->
        <!--                            <span><button class="btn btn-success add">+</button></span>-->
        <!--                            <span class="amount">150.000</span>-->
        <!--                        </p>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
    <!-- end news shoes -->

    <!-- end Categories -->

    <section>
        <!--  save -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="save">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="save_box">
                                    <h3>save up to 50%</h3>
                                    <a href="#">Buy now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end save -->
    </section>

    <!-- news Jewellery -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="jewellery" class="Jewellery-bg">
                    <h3>New Jewellery</h3>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                            <div class="Jewellery-box">
                                <h5>Sale</h5>
                                <i><img src="/assets/icon/j1.png"/>
                                </i>
                                <h4>Price $<span class="nolmal">100</span></h4>

                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                            <div class="Jewellery-box">
                                <i><img src="/assets/icon/j2.png"/></i>
                                <h4>Price $<span class="nolmal">100</span></h4>
                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <div class="Jewellery-box">
                                <i><img src="/assets/icon/j3.png"/></i>
                                <h4>Price $<span class="nolmal">100</span></h4>
                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <div class="Jewellery-box">
                                <i><img src="/assets/icon/j4.png"/></i>
                                <h4>Price $<span class="nolmal">100</span></h4>
                            </div>
                            <a class="buynow" href="#">Buy now</a>
                        </div>
                    </div>
                </div>
                <a class="seemore" href="#">See more</a>
            </div>
        </div>
    </div>
    <!-- end news Jewellery -->

    <!-- news Kids -->
    <div id="kids" class="Kids_background">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="Kids-bg">
                        <h3>Kids and Babies</h3>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                                <div class="Kids-box">

                                    <i><img src="/assets/icon/k1.png"/>
                                    </i>
                                    <h4>Price $<span class="nolmal">100</span></h4>

                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                                <div class="Kids-box">
                                    <i><img src="/assets/icon/k1.png"/></i>
                                    <h4>Price $<span class="nolmal">100</span></h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                <div class="Kids-box">
                                    <i><img src="/assets/icon/k1.png"/></i>
                                    <h4>Price $<span class="nolmal">100</span></h4>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                <div class="Kids-box">
                                    <i><img src="/assets/icon/k1.png"/></i>
                                    <h4>Price $<span class="nolmal">100</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end news Kids -->

    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer_top">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <a href="index.html"> <img class="logo1" src="/assets/images/logo1.png"/></a>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <ul class="sociel">
                                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>Contact us </h3>
                                    <ul class="loca">
                                        <li>
                                            <a href="#"><img src="/assets/icon/loc.png" alt="#"/></a>145 londone
                                            <br>uk
                                        </li>
                                        <li>
                                            <a href="#"><img src="/assets/icon/call.png" alt="#"/></a>+12586954775
                                        </li>
                                        <li>
                                            <a href="#"><img src="/assets/icon/email.png" alt="#"/></a>demo@gmail.com
                                        </li>

                                    </ul>

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="address">
                                    <h3>customer service</h3>
                                    <ul class="Menu_footer">
                                        <li class="active"><a href="#">My account</a></li>
                                        <li><a href="#">Wishlist</a></li>
                                        <li><a href="#">My Cart</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <li><a href="#">Login</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="address">
                                    <h3>corporation</h3>
                                    <ul class="Links_footer">
                                        <li class="active"><a href="#">My account</a></li>
                                        <li><a href="#">Wishlist</a></li>
                                        <li><a href="#">My Cart</a></li>
                                        <li><a href="#"> Checkout</a></li>
                                        <li><a href="#">Login</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 ">
                                <div class="address">
                                    <h3>why choose us</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna </p>
                                    <form class="newtetter">
                                        <input class="tetter" placeholder="Your email" type="text" name="Your email">
                                        <button class="submit">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright">
                <div class="container">
                    <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a></p>
                </div>
            </div>
        </div>

    </footer>
    <!-- end footer -->


</div>

<div class="overlay"></div>

<!-- Javascript files-->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery-3.6.0.min.js"></script>

<!-- sidebar -->

<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script src="/assets/js/iziToast-1.4.0.js"></script>
<script src="/assets/js/sweetalert2.min.js"></script>
<script src="/assets/js/app.page.js"></script>
<script src="/assets/js/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
        });

        $(".zoom").hover(function () {

            $(this).addClass('transition');
        }, function () {

            $(this).removeClass('transition');
        });
    });


    $("#btnShowCart").on("click", () => {

        getCartItems();

        $("#panelCart").removeClass("hide").addClass("show");
    })

    $("#btnCloseCart").on('click', () => {
        $("#panelCart").removeClass("show").addClass("hide");
    })


    function getCartItems() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/cart-items"
        })
            .done((data) => {
                console.log(data);
                $("#panelCart .cart-items").empty();

                $.each(data, (i, item) => {
                    let str = AppPage.renderCartItem(item);
                    $("#panelCart .cart-items").append(str);
                })

                handleAddQuantity();

                handleMinusQuantity();
            })
    }

    function addQuantity(cartItemId) {

        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "PATCH",
            url: "http://localhost:8080/api/cart-items/add/" + cartItemId
        })
            .done((data) => {

                console.log(data);

                let currentCartItemRow = $("#ci_" + cartItemId);
                let newCartItemRow = AppPage.renderCartItem(data);

                currentCartItemRow.replaceWith(newCartItemRow);

                $("header .cart-quantity").text(data.totalCartItemQuantity);

                handleAddQuantity();

                handleMinusQuantity();
            })
            .fail((jqXHR) => {
                console.log((jqXHR));
            })
    }

    function minusQuantity(cartItemId) {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "PATCH",
            url: "http://localhost:8080/api/cart-items/minus/" + cartItemId
        })
            .done((data) => {

                let currentCartItemRow = $("#ci_" + cartItemId);
                let newCartItemRow = AppPage.renderCartItem(data);

                currentCartItemRow.replaceWith(newCartItemRow);

                $("header .cart-quantity").text(data.totalCartItemQuantity);

                handleAddQuantity();

                handleMinusQuantity();
            })
            .fail((jqXHR) => {
                console.log((jqXHR));
            })
    }


    function removeCartItem(cartItemId) {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "DELETE",
            url: "http://localhost:8080/api/cart-items/delete/" + cartItemId
        })
            .done((data) => {
                $("#ci_" + cartItemId).remove();

                $("header .cart-quantity").text(data.totalCartItemQuantity);
            })
            .fail((jqXHR) => {
                console.log((jqXHR));
            })
    }

    function handleAddQuantity() {
        let btnAddQuantity = $('#panelCart .cart-items .card-body button.add')

        btnAddQuantity.off();

        btnAddQuantity.on('click', function () {

            let cartItemId = $(this).data('id');

            addQuantity(cartItemId);
        })
    }

    function handleMinusQuantity() {
        let btnMinusQuantity = $('#panelCart .cart-items .card-body button.minus')

        btnMinusQuantity.off();

        btnMinusQuantity.on('click', function () {

            let cartItemId = $(this).data('id');

            let currentQuantity = +$(`#ci_${cartItemId} .card-body input.quantity`).val();

            if (currentQuantity === 1) {
                Swal.fire({
                    text: "You definitely want to remove this product from your cart?",
                    icon: 'information',
                    showCancelButton: true,
                    cancelButtonText: "Cancel",
                    confirmButtonColor: '#d33',
                    confirmButtonText: 'Yes, Please!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        removeCartItem(cartItemId);
                    }
                })
            } else {
                minusQuantity(cartItemId);
            }
        })
    }

    function getAllProduct() {

        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": "http://localhost:8080/api/products"
        })
            .done((data) => {
                console.log(data);
                $.each(data, (i, item) => {
                    product = data;

                    let str = AppPage.renderProductItem(item);

                    $("#panel-product").prepend(str);
                })
                handleAddCart();
            })
            .fail((jqXHR) => {
                console.log(jqXHR);
            })

        function handleAddCart() {
            $(".add-cart").on("click", function () {
                let productId = $(this).data("id");

                let cartItem = {
                    productId
                }

                $.ajax({
                    headers: {
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    "type": "POST",
                    "url": "http://localhost:8080/api/carts/add",
                    "data": JSON.stringify(cartItem)
                })
                .done((resp) => {
                    if (resp.response.status === 201) {
                        iziToast.success({
                            title: 'OK',
                            position: 'bottomLeft',
                            timeout: 1500,
                            message: 'Add to cart success!'
                        });
                    }
                })
                .fail((jqXHR) => {
                    console.log(jqXHR);
                    iziToast.error({
                        title: 'ERROR',
                        position: 'bottomLeft',
                        timeout: 2000,
                        message: 'Add to cart faill!!'
                    });
                })
            })
        }
    }

    function checkOut() {
        $.ajax({
            headers: {
                "accept": "application/json",
                "content-type": "application/json"
            },
            type: "POST",
            url: "http://localhost:8080/api/carts/checkout"
        })
            .done(() => {

                $("#panelCart .cart-items").empty();

                iziToast.success({
                    title: 'OK',
                    position: 'bottomLeft',
                    timeout: 1500,
                    message: 'Order success!'
                });

            })
            .fail((jqXHR) => {
                console.log((jqXHR));

                iziToast.error({
                    title: 'ERROR',
                    position: 'bottomLeft',
                    timeout: 2000,
                    message: 'Order faill!!'
                });
            })
    }

    function handleCheckOut() {
        $("#btnCheckout").on("click", () => {
            checkOut();
        })
    }


    $(() => {
        getAllProduct();

        handleCheckOut();
    })
</script>
<script>
    // This example adds a marker to indicate the position of Bondi Beach in Sydney,
    // Australia.
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: {
                lat: 40.645037,
                lng: -73.880224
            },
        });

        var image = 'images/maps-and-flags.png';
        var beachMarker = new google.maps.Marker({
            position: {
                lat: 40.645037,
                lng: -73.880224
            },
            map: map,
            icon: image
        });
    }
</script>
<!-- google map js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
<!-- end google map js -->

</body>

</html>