<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="left_sidebar">
    <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav" class="pt-4">
<!--                    <li class="sidebar-item">-->
<!--                        <a-->
<!--                                class="sidebar-link waves-effect waves-dark sidebar-link"-->
<!--                                href="index.html"-->
<!--                                aria-expanded="false"-->
<!--                        ><i class="mdi mdi-view-dashboard"></i-->
<!--                        ><span class="hide-menu">Dashboard</span></a-->
<!--                        >-->
<!--                    </li>-->
                    <li class="sidebar-item">
                        <a
                                class="sidebar-link has-arrow waves-effect waves-dark"
                                href="javascript:void(0)"
                                aria-expanded="false"
                        ><i class="mdi mdi-view-dashboard"></i
                        ><span class="hide-menu">Dashboard </span></a
                        >
                        <ul aria-expanded="false" class="collapse first-level">
                            <li class="sidebar-item">
                                <a href="/homes" class="sidebar-link"
                                ><i class="mdi mdi-alert-octagon"></i
                                ><span class="hide-menu"> Home </span></a
                                >
                            </li>
                            <li class="sidebar-item">
                                <a href="/products" class="sidebar-link"
                                ><i class="mdi mdi-alert-octagon"></i
                                ><span class="hide-menu"> Product </span></a
                                >
                            </li>
                            <li class="sidebar-item">
                                <a href="/users" class="sidebar-link"
                                ><i class="mdi mdi-alert-octagon"></i
                                ><span class="hide-menu"> User </span></a
                                >
                            </li>
                            <li class="sidebar-item">
                                <a href="error-500.html" class="sidebar-link"
                                ><i class="mdi mdi-alert-octagon"></i
                                ><span class="hide-menu"> Error 500 </span></a
                                >
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
</th:block>