<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="temp_row_user">

    <textarea id="tempRowUser" class="hide">
        <tr id="tr_{0}">
            <td></td>
            <td>{1}</td>
            <td><img src="/assets/images/{2}" alt="" width="50" height="50"></td>
            <td>{3}</td>
            <td>{4}</td>
            <td>{5}</td>
            <td>{6}</td>
            <td>{7}</td>
            <td>{8}</td>
            <td>{9}</td>
            <td>{10}</td>
        </tr>
    </textarea>

</th:block>